body {
    margin: 0;
    background-color: black;
    width: 100vw;
    overflow: hidden;
}

.logo {
    height: 15rem;
}

.scrolling-header {
    display: flex;
    height: 15rem;
    width: 100vw;
    overflow: visible;
}